body {
    margin:0;
}

#pageHeader {
    width:100%;
    display:flex;
    margin: 0;
    padding: 0;
    top:0;
    left: 0;
    right: 0;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    font-size: 2rem;
}

#topNameBox {
    width:65%;
    float:left;
    margin:.5em;
}

#socialIcons {
    width:31%;
    color:#ffffff;
    text-align:right;
    margin:.25em

}

.socialIcon {
    height:1.5em;
}

#mainSection {
    display:flex;
}

/*sidebar*/
#navbar {
    height:100%;
    width:22rem;
    z-index:1;
    top:0;
    left:0;
    font-size:1.5rem;
}

a {
    text-decoration: none;
}

.navLink {
    line-height: 4rem;
    text-indent: .5rem;
}

@media all and (max-width:60rem) {
    /*topbar*/

    #mainSection {
        flex-direction: column;
    }

    #navbar {
        z-index: 1;
        top:0;
        left:0;
        width:100%;
        font-size:1.5rem;
        display:flex;
        flex-wrap: wrap;
    }

    .navLink {
        line-height: 2.5rem;
        text-indent: 1rem;
    }
}
