body {
    margin:0;
}

#pageHeader {
    width:100%;
    display:flex;
    margin: 0;
    padding: 0;
    top:0;
    left: 0;
    right: 0;
    font-size: 2rem;
    height:4.5rem;
}

#topNameBox {
    width:65%;
    float:left;
    margin:.5em;
}

#socialIcons {
    width:31%;
    color:#ffffff;
    text-align:right;
    margin:.25em

}

.socialIcon {
    height:1.5em;
}

#mainSection {
    display:flex;
    top:4.5rem;
}

/*sidebar*/
#navbar {
    height:100%;
    width:22rem;
    z-index:1;
    left:0;
    font-size:1.5rem;
    position:absolute;
    top:4.5rem;
}

a {
    text-decoration: none;
}

.navLink {
    line-height: 4rem;
    text-indent: .5rem;
}

#content {
    position:absolute;
    left:22rem;
    width:calc(100% - 22rem);
}

.pageContent {
    width:100%;
        
}
    
.contentHeadline {
    width:100%;
    text-align: center;
    margin-top: 10rem;
    font-size:2rem;
}

.contentSection {
    margin-top:2rem;
    margin-bottom:2rem;
}

@media all and (max-width:60rem) {
    /*topbar*/

    #mainSection {
        flex-direction: column;
    }

    #navbar {
        z-index: 1;
        top:0;
        left:0;
        width:100%;
        font-size:1.5rem;
        display:flex;
        flex-wrap: wrap;
        position:static;
        
    }

    .navLink {
        line-height: 2.5rem;
        text-indent: 1rem;
    }
    
    #content {
        left: 0;
        width: 100%;
    }

    .contentHeadline {
        font-size: 1.5rem;
    }
}
